.header{
	width: 100%;
	nav.navbar{
		box-shadow: none;
		color: var(--color-secondary); 
		.navbar-brand{
			font-family:var(--font-poppin);
			font-weight: 500;
			font-size: 20px;
			color: var(--color-secondary);
		}
		.nav-item{
			margin: auto 5px;
		}
		.nav-link{
			font-family:var(--font-poppin);
			font-weight: 500;
            color: var(--color-secondary);
            padding: 10px 20px;
            transition:0.5s ease;

            &.active,&:hover{
               color: var(--color-primary);
            }
		}
	}
}