#hero-banner{
	width: 100%;
	color: var(--color-secondary);
	font-family:var(--font-poppin);
	padding: 100px 0;

	p{
		font-weight: 400;
	}

	.img{
		border-radius: 80px 80px 0px 80px;
		overflow: hidden;
		
	}
}

