#property-section{
	width: 100%;
	padding: 50px 0;
	background-color: #eeeeee;
	font-family: var(--font-poppin);
	color: var(--color-secondary);
	.text-right a{
		color: var(--color-secondary);
		font-size: 14px;
		font-weight: 500;
		transition:1s ease;
		&:hover{
			color: var(--color-primary);
		}
	}

	#property-slider{
		width: 100%;
		height: 400px;
		margin-top:50px;

		.swiper-container{
             width: 100%;
             height: 100%;
        .property-list{
            padding: 10px;
            background-color: #ffffff;
            border-radius: 0 30px 0 30px;
            p{
			font-weight: 500;
		    }
        }
        .swiper-slide .image {
               	overflow: hidden;
                margin-bottom: 10px;
                border-radius: 0 30px 0 30px;
                object-fit:cover;
                img{
                width: 100%;
             	height: 200px;
	
                }
             }
        }
	}
	}